$bg-color: yellow;
$border-color: red;

.app {
  font-family: helvetica, arial, sans-serif;
  padding: 2em;
  border: 5px solid $border-color;
  font-weight: 300;
  font-size: 14px;

  p {
    background-color: $bg-color;
  }
}

@keyframes rotate {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    transform: scale(1.1);
    opacity: 0.9;
  }
  100% {
    transform: scale(0.95);
  }
}

#map {
  height: 700px;
  border: 3px solid black;
  background-image: url("../img/hackBack.png");
  background-repeat: no-repeat;
}

.circle {
  transition: 0.50s;
  animation: 0.40s ease-out 0s 1 rotate;
  position: absolute;
  border-radius: 50%;
  opacity: 0.85;
  font-size: 15px;
}

.table {
  display: absolute;
  width: 80px;
  height: 40px;
  border: 1px solid black;
}